<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>

<main>
    <h2>Text om oss</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad cum odit eaque, sequi possimus nostrum officiis amet, asperiores impedit, delectus rerum ex nisi magnam atque architecto perferendis vel obcaecati unde.</p>
</main>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>