<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>NodeJS Express</title>
</head>
<body>

    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    

    <main>
    <h2>Vi tar hand om din spis</h2>
    <p>Har du en gammal och knagglig spis? Ingen fara. Vi löser det.</p>
    
</main>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>