* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:deeppink;
    width: 100%;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    padding: 10rem;
    justify-content: center;
}

header {
    background-color: aquamarine;
    padding: 10rem;
    justify-content: center;
}